# Ignore everythong
/*
/.vim/spell/*
/.vim/bundle/*
/.vim/plugged/*
/.vim/swapfiles/*
/.emacs.d/*
*~
\#*\#
.\#*
/.vim/.netrwhist
/.vim/view
*.DS_Store
/.config/*

# Except the following files
!.gitconfig
!.gitignore
!.gitmodules
!.tmux.conf
!.tmux
!.vim/
!.config/
!.config/awesome/
!.vimrc
!.zsh/
!.zshrc
!.bash_profile
!.bashrc
!.bashrc.global
!.gdbinit
!.gdb-dashboard/
!.Xresources
!.xinitrc
!install.sh
!.xscreensaver
!.urxvt
