# Ignore everythong
/*
/.config/kitty/*
/.emacs.d/*
*~
\#*\#
.\#*
*.DS_Store
/.config/*
/.tmux/plugins
/.tmux/resurrect
.zsh/completion
.lbdb/*

# Except the following files
!.gitconfig
!.gitignore
!.gitmodules
!.gdbinit
!.tmux.conf
!.tmux
!.vim/
!.scripts/
!.config/
!.config/awesome/
!.config/alacritty/
!.config/cmus/rc
!.config/git/
!.config/kitty/
!.config/kitty/kitty.conf
!.config/nvim/
!.config/vifm/
!.config/gdb/
!.vimrc
!.zsh/
!.zshrc
!.bash_profile
!.bashrc
!.bashrc.global
!.Xresources
!.xinitrc
!install.sh
!.xscreensaver
!.urxvt
!.skhdrc
!.chunkwmrc
!.mutt/
!.mbsyncrc.example
!.msmtprc.example
!.imapfilter
!.lbdb/
!.lbdb/lbdbrc
