# Ignore everythong
/*
/.vim/.*
/.vim/spell/*
/.vim/bundle/*
/.vim/plugged/*
/.vim/swapfiles/*
/.config/kitty/*
/.emacs.d/*
*~
\#*\#
.\#*
/.vim/.netrwhist
/.vim/undodir
/.vim/view
*.DS_Store
/.config/*
/.tmux/plugins
/.tmux/resurrect
.zsh/completion

# Except the following files
!.gitconfig
!.gitignore
!.gitmodules
!.gdbinit
!.tmux.conf
!.tmux
!.vim/
!.scripts/
!.config/
!.config/awesome/
!.config/ranger/
!.config/kitty/
!.config/kitty/kitty.conf
!.config/vifm/
!.vimrc
!.zsh/
!.zshrc
!.bash_profile
!.profile
!.bashrc
!.bashrc.global
!.Xresources
!.xinitrc
!install.sh
!.xscreensaver
!.urxvt
!.skhdrc
!.chunkwmrc
!.qutebrowser
!.config/qutebrowser/
!.mutt/
!.mbsyncrc.example
