! Color scheme
! A nice website for configure colorscheme: https://terminal.sexy/

! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a54242
*.color9:       #cc6666

! green
*.color2:       #579440
*.color10:      #6cbd68

! yellow
*.color3:       #ded35f
*.color11:      #f0de74

! blue
*.color4:       #5f7d9d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6

! Highlight underlined text (links)
URxvt.underlineColor: blue

! Cursor blinking
URxvt.cursorBlink: true

! Set fount
! URxvt.font: -schumacher-*-medium-*-*-*-14-*-*-*-*-*-*-*
! URxvt.boldFont: -schumacher-*-bold-*-*-*-14-*-*-*-*-*-*-*
URxvt*font: xft:LiterationMonoPowerline Nerd Font:pixelsize=14:style=regular
URxvt*boldFont: xft:LiterationMonoPowerline Nerd Font:bold:pixelsize=14:style=regular

! Enable scrollbar
URxvt*scrollBar: true
URxvt*scrollBar_right: true
URxvt.scrollstyle: plain
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

! Load plugins
URxvt.perl-ext-common:  default,matcher,tabbedex,keyboard-select,eval

! Plugins
! Copy/Paste
URxvt.keysym.S-Insert:   eval:paste_clipboard
URxvt.keysym.C-Insert:   eval:section_to_clipboard
URxvt.keysym.C-0xff63:   eval:section_to_clipboard
URxvt.keysym.C-0xff9e:   eval:section_to_clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755 : false
URxvt.iso14755_52: False

! Links are clickable on left mouse button
URxvt.matcher.button: 1
! Activate keyboard-select mode
URxvt.keysym.M-Escape: perl:keyboard-select:activate
! Tabbedex configuration
URxvt.tabbed.new-button:       no
URxvt.tabbed.autohide:         yes
URxvt.tabbed.no-tabbedex-keys: yes

URxvt.keysym.Meta-p: perl:tabbedex:prev_tab
URxvt.keysym.Meta-n: perl:tabbedex:next_tab
URxvt.keysym.Meta-t: perl:tabbedex:new_tab
URxvt.keysym.Meta-r: perl:tabbedex:rename_tab
URxvt.keysym.Meta-h: perl:tabbedex:move_tab_left
URxvt.keysym.Meta-l: perl:tabbedex:move_tab_right
URxvt.keysym.Meta-1: perl:tabbedex:goto_tab_1
URxvt.keysym.Meta-2: perl:tabbedex:goto_tab_2
URxvt.keysym.Meta-3: perl:tabbedex:goto_tab_3
URxvt.keysym.Meta-4: perl:tabbedex:goto_tab_4
URxvt.keysym.Meta-5: perl:tabbedex:goto_tab_5
URxvt.keysym.Meta-6: perl:tabbedex:goto_tab_6
URxvt.keysym.Meta-7: perl:tabbedex:goto_tab_7
URxvt.keysym.Meta-8: perl:tabbedex:goto_tab_8
URxvt.keysym.Meta-9: perl:tabbedex:goto_tab_9
URxvt.keysym.Meta-0: perl:tabbedex:goto_tab_10

URxvt.tabbed.tabbar-fg: 15
URxvt.tabbed.tabbar-bg: 8
URxvt.tabbed.tab-fg:    8
URxvt.tabbed.tab-bg:    14
! Tabbedex colors
URxvt.tabbed.bell-tab-fg: 8
URxvt.tabbed.bell-tab-bg: 11
URxvt.tabbed.bell-fg:     8
URxvt.tabbed.bell-bg:     11
URxvt.tabbed.title-fg:    10
URxvt.tabbed.title-bg:    8
URxvt.tabbed.tabbar-timeouts: '0:*'

! Transparent
URxvt.transparent: true
! Decreasing (-100 .. -1) or increasing (0 .. 100) highlight of transparent background
URxvt.shading: 20

! Window initial size
URxvt.geometry: 80x25
! Terminal history size
URxvt*saveLines: 7000
