# This is example file. Rename it to settings.mutt.local and add your personal configurations.

set from = "example@example.com"
set realname = "James Bond"
set folder = "~/.mail/"                   # the default location of mailboxes
set spoolfile = "~/.mail/account/Inbox"

# vim: ft=muttrc
